:root{
    --body-color: #212121; 
    --title-color: #FFFFFF;  
    --header-color: #757575; 
    --section-color: #E5E5E5; 
    --main-color:#2F303A; 
    --accent-color: #2196F3;
}
/* body */
.body{
    color: var(--body-color);

    font-family: 'Roboto', sans-serif;
}
p, h1, h2, h3, h4, h5, h6{
    margin: 0;
}
ul{
    padding-left: 0;
    margin: 0;
}
img{
    display: block; 
}
.link{
    text-decoration: none;
}
.list {
    list-style: none;
    padding: 0;
    margin: 0; 
}
.container{
    margin-right: auto;
    margin-left: auto; 
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
}
.header{
    padding-top: 24px; 
    padding-bottom: 24px;  

    border: 1px solid #EEEEEE;  
}
.header .container{
    display: flex; 
    align-items: center; 
}
   
/* logo */
.logo{
margin-right: 93px;
color: var(--body-color);

font-family: 'Raleway', sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
}
span {
    color: var(--accent-color);
}

/* site-nav */
.site-nav .link{ 
    color: var(--body-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus{
    color: var(--accent-color);
}
.site-nav .link.current{
    color: var(--accent-color);
}
.site-nav{
    display: flex;
}
.header-link{
    display: block;
}
.header-list:not(:last-child) {
    margin-right: 50px;
}
.header-mail,
.header-tel{
    color: var(--header-color);
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em; 
}
.header-mail:hover,
.header-mail:focus {
    color: var(--accent-color);
}
.header-tel:hover,
.header-tel:focus {
    color: var(--accent-color);
}
.header-connect{
    margin-left: auto; 
}
.header-tel{
    margin-left: 30px; 
}
.header-connect .link{
    display: inline-flex; 
    align-items: center;
    fill: currentColor; 
}
.icon-mail{
    width: 16px;
    height: 12px;
    margin-right: 10px;
}
.icon-tel{
    width: 10px;
    height: 16px;
    margin-right: 10px;
}
/* hero */
.hero{
    background-color: var(--main-color);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px; 
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
    url(..//images/hero.jpg);
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto; 
}
.hero-title{
    margin-bottom: 30px;  
    color: var(--title-color);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.hero-button{
    border-radius: 4px;
    min-width: 200px; 
    height: 50px;   
    background-color: var(--accent-color);
    color: var(--title-color);

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
}
/* section */
.section{
    padding-top: 94px;
    padding-bottom: 94px; 
}
.section-list{
    display: flex;  
}
.section-list-item{
    margin-right: 30px; 
}
.section-title{
    margin-top: 0;
    margin-bottom: 10px;  
    color: var(--body-color);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.section-text{
    color: var(--header-color);

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.section-icons + .section-icons{
    margin-left: 30px; 
}
.section-icons{
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px; 
}
.section-page{
    padding-top: 0;  
}
.title{
   margin-top: 0;
    margin-bottom: 50px;  
    color: var(--body-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}
.section-img{
    display: flex;
}
.img:not(:last-child){
    margin-right: 30px;
}
/* section-part */
.section-part{
    background-color: #F5F4FA;
}
.section-part-list{
    display: flex; 
    margin-right: -30px; 
}
.part-title{
    margin-top: 0;
    margin-bottom: 10px; 
    color: var(--body-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}
.section-part-item {
    flex-basis: calc((100%-120px)/4); 
    margin-right: 30px; 
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--title-color);
}
.part-item{
    padding-top: 30px;
    padding-bottom: 30px; 
}
.part-text{
    margin-bottom: 16px;
    color: var(--header-color);

    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}
.part-soc-list{
    display: flex;
    justify-content: center;
}
.part-soc-item + .part-soc-item{
    margin-left: 10px;
}
.part-soc-link{
    width: 44px;
    height: 44px;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.part-soc-icon{
    fill: #AFB1B8;  
}
.part-soc-link:hover{
    background-color: var(--accent-color);
}
.part-soc-link:hover .part-soc-icon{
    fill: var(--title-color);
}
.part-soc-link:focus {
    background-color: var(--accent-color);
}

.part-soc-link:focus .part-soc-icon {
    fill: var(--title-color);
}
/* client-section */
.client-list{
    display: flex;
    justify-content: center; 
}
.client-link{
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.client-icon{
    fill: #AFB1B8;;
}
.client-item + .client-item{
    margin-left: 30px;
}
.client-link:hover{
    border: 3px solid var(--accent-color);
}
.client-link:focus{
    border: 3px solid var(--accent-color);
}
.client-icon:hover{
    fill: var(--accent-color); 
}
.client-icon:focus{
    fill: var(--accent-color);
}
/* footer */
.footer{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--main-color);
    border-bottom: var(--body-color); 
}
.footer .container{
    display: flex;
    
}
.footer-list{
    margin-top: 20px;
    color: var(--title-color); 
} 
.footer-list-item:not(:last-child){
    margin-bottom: 9px;
} 
.footer-logo{
    color: var(--title-color);

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.footer-address{
    color: var(--title-color);
    font-style: normal; 
    font-weight: 400; 
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.footer-address:hover,
.footer-address:focus {
    color: var(--accent-color);
}
.footer-link{
    color: rgba(255, 255, 255, 0.6);

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style: normal;
}
.footer-link:hover,
.footer-link:focus {
    color: var(--accent-color);
}
.footer-text{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top: 12px; 
    margin-bottom: 20px; 
    
    color: #FFFFFF;
}
.footer-contacts{
    margin-right: 70px; 
}
.footer-soc-icon{
    fill: var(--title-color);
}
.footer-soc-list {
    display: flex;
    justify-content: center;
}
.footer-soc-item + .footer-soc-item{
    margin-left: 10px;
}
.footer-soc-link {
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1); 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-soc-link:hover {
    background-color: var(--accent-color);
}

.footer-soc-link:hover .footer-soc-icon {
    fill: var(--title-color);
}

.footer-soc-link:focus {
    background-color: var(--accent-color);
}

.footer-soc-link:focus .footer-soc-icon {
    fill: var(--title-color);
}
/* portfolio */

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.portfolio-list{
    display: flex; 
    justify-content: center; 
}
.portfolio-btn:not(:last-child){
    margin-right: 8px;   
} 
.section-btn{
    border-radius: 4px;  
    border-color: transparent;  
   margin-top: 0;
    margin-bottom: 50px;
    height: 38px;
    background-color: var(--section-color);
    color: var(--body-color);

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
}
.section-btn:hover{
    background-color: var(--accent-color);
    color: var(--title-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.section-btn:focus{
    background-color: var(--accent-color);
    color: var(--title-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
    }
.btn{
    width: 73px;
}
.btn-veb{
    width: 128px;
}
.btn-mobil{
    width: 145px;
}
.btn-design{
    width: 103px;
}
.btn-marketing{
    width: 130px;
}
.gallery-list{
    display: flex;
    flex-wrap: wrap; 
    margin-left: -30px;
    margin-bottom: -30px; 
}
.gallery-item{
    width: calc(100% / 3 - 30px); 
    margin-left: 30px;
    margin-bottom: 30px; 
    border: 1px solid #EEEEEE;
    border-top: none; 
}
.gallery-item:hover{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.gallery-text{
    padding: 20px 24px;  
}
.portfolio-title{
    margin-bottom: 4px;  
    color: var(--body-color);

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.portfolio-text{
    color: var(--header-color);

    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}
